* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.884);
}

a {
  text-decoration: none;
  color: #eee;
}
.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/background1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
}
/* start of contant */
section {
  width: 100%;
  height: 100vh;
}
section ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section ul li {
  list-style: none;
}
section ul li a {
  display: block;
  text-decoration: none;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  font-size: 5em;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
section ul li a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(0);
  overflow: hidden;
  text-align: center;
  line-height: 100vh;
  font-size: 3.2em;
  color: rgba(0, 0, 0, 0.5);
}
section ul li:nth-child(1) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/animals-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section ul li:nth-child(2) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/insects-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section ul li:nth-child(3) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/birds-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* section ul li:nth-child(4) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/fishs-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section ul li:nth-child(5) a:before {
  background: #3939d2;
} */
section ul li:hover a:before {
  transform: scale(1);
  transition: transform 0.5s;
}
@media (max-width: 700px) {
  section {
    margin-top: 7em;
  }
}
/* end of contant */
@media screen and (max-width: 2400px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1300px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(1) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/animals-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 800px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(1) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/animals-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 500px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(1) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/animals-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
