/* start of navigation */

header {
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  position: sticky;
  z-index: 100000;
  padding-bottom: 9em;
}
.en {
  margin: 1.5em 1em;
}
.langbtn {
  position: relative;
  z-index: 5;
}
.language {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 1.5em;
  line-height: 4em;
}
.language a {
  color: crimson;
  font-weight: 700;
}
.language a::after,
.language a::before {
  background-color: #eeeeee;
}
li .active {
  color: rgb(19, 212, 77);
}
.brand {
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}
.langbtn {
  cursor: pointer;
}
.brand span {
  color: crimson;
  font-size: 2.5rem;
  font-family: "Gruppo", cursive;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
  margin-top: 2em;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}
nav ul li:nth-child(5) {
  animation-delay: 2s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
  z-index: 10000;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    margin-top: 10em;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
    place-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2.5rem;
  }
  .en {
    margin: 3em 1em;
  }
  .language {
    display: block;
    position: relative;
    z-index: 5;
    padding: 1.5em;
    line-height: 4em;
  }
  /* .brand {
    font-size: 5rem;
  } */

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}
/* end of navigation */
.encyc {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.9s;
}

.encyc-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.encyc a {
  padding: 0.8rem;
  text-decoration: none;
  font-size: 3.6rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.encyc a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.encyc .closebtn {
  position: absolute;
  font-size: 5rem;
  color: crimson;
  cursor: pointer;
  right: 1%;
  bottom: 0;
}
.encyc-button {
  font-size: 5rem;
  color: crimson;
  cursor: pointer;
  right: 1%;
  bottom: 0;
  position: fixed;
}
@media screen and (max-height: 450px) {
  .encyc {
    overflow-y: auto;
  }
  .encyc a {
    font-size: 2rem;
  }
  .encyc .closebtn {
    font-size: 4rem;
    top: 1.5rem;
    right: 3.5rem;
  }
}
section {
  width: 100%;
}
section ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section ul li {
  list-style: none;
}
section ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 5em;
  height: 10vh;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
section ul li a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  transform: scale(0);
  overflow: hidden;
  text-align: center;
  font-size: 3.2em;
  color: rgba(0, 0, 0, 0.5);
}
section ul li:nth-child(1) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/animals-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section ul li:nth-child(2) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/insects-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section ul li:nth-child(3) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/birds-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section ul li:nth-child(4) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/fishs-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section ul li:nth-child(5) a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/Reptiles-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section ul li:hover a:before {
  transform: scale(1);
  transition: transform 0.5s;
}
@media (max-width: 700px) {
  section {
    margin-top: 7em;
  }
}
/* end of contant */

@media screen and (max-width: 2400px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(4) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/fishs-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(5) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/Reptiles-bg-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1300px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(1) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/animals-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(4) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/fishs-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(5) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/Reptiles-bg-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 800px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(1) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/animals-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(4) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/fishs-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(5) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/Reptiles-bg-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 500px) {
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/background1-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section ul li:nth-child(1) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/animals-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(2) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/insects-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(3) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/birds-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(4) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/fishs-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section ul li:nth-child(5) a:before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/Reptiles-bg-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
