/* fonts  */
:root {
  --acme: "Acme", sans-serif;
  --roboto: "Roboto Cn", sans-serif;
  --piazzolla: "Piazzolla", serif;
  --grupo: "grupo", sans-serif;
  --mr-dafoe: "Mr Dafoe", sans-serif;
  --poppins: "Poppins", serif;
  --telex: "Telex", serif;
}
/* fonts */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/reptiles-bg2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.overlay {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/reptiles-bg2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: #eee;
}
.header {
  margin-bottom: 2em;
}
.animals-card div {
  margin-top: 5em;
}
/* start of contant */
.animals-card {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 17rem));
  grid-gap: 2rem;
}
.card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  transform: scale(1.05);
}
.card-img {
  height: 12rem;
  width: 100%;
}
.card-tittle {
  padding: 1em;
  font-size: 1.9rem;
  color: crimson;
}
.card-description {
  padding: 0 1em;
  color: rgb(241, 228, 228);
  font-size: 1.22rem;
}
.card-btn {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  background-color: crimson;
  color: rgb(241, 228, 228);
  border-radius: 20%;
  border: 1em;
  cursor: pointer;
}
.card-btn:hover {
  background-color: rgb(241, 228, 228);
  color: crimson;
}
/* SaltWater Crocodile */
.SaltWater-Crocodile:hover h2 {
  background: rgb(206, 197, 162);
  background: linear-gradient(
    228deg,
    rgba(206, 197, 162, 1) 1%,
    rgba(55, 53, 34, 1) 33%,
    rgba(116, 111, 87, 1) 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* SaltWater Crocodile */
/* King Cobra */
.king-cobra:hover h2 {
  background: rgb(67, 51, 34);
  background: linear-gradient(
    180deg,
    rgba(67, 51, 34, 1) 1%,
    rgba(85, 70, 52, 1) 35%,
    rgba(205, 190, 168, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* King Cobra */
/* end of contant */
@media screen and (max-width: 500px) {
  .animals-card {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 18rem));
  }
}
@media screen and (max-width: 2400px) {
  body,
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/reptiles-bg2-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1300px) {
  body,
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/reptiles-bg2-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1000px) {
  body,
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/reptiles-bg2-s.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 500px) {
  body,
  .overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/reptiles-bg2-ss.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
